@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&family=Fjalla+One&display=swap');

body{
    font-family: 'Comic Neue', cursive;
}
#mapDiv{
    background-image: url(/img/map.jpg);
    /* background-size: cover; */
background-position: center;
    
}


td{
    font-weight: bold;
}
h4{
    font-weight: bolder;
}
.coDivDashBord{
  padding-top: 13rem;
}

.coDivDashBordtxt{
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 10px;
}
.coDivDashBordtxtScnd{
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Fjalla One', sans-serif; 
    letter-spacing: 2px;
}


#countryStatsDiv{
    width: 100%;
    height: 400px;
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
    background-color: aliceblue;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
   
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66); 
    border-radius: 8px;
    height: 70px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #615f5f; 
  }

